
{{!-- <h2>Libros disponibles</h2>
{{#each Books}}

<div>
    <h4>Author name: {{this.author}}</h4>
    <p> Book's name: {{this.name}} <br>
    </p>
   <a href="{{url}}">Descargar</a>
    <p>--------------------------------------</p>

</div>

{{/each}} --}}
<div class="container-wrapV3">
{{#each Books}}

<div class="card" style="width: 18rem;">
  <img class="imgWH" src="{{imgUrl}}"/>
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">intro del libro a traer desde un input del usuario</p>
    <a href="{{url}}" target="_blank" class="btn btn-primary">Descargar</a>
  </div>
</div>

{{/each}} 
</div>