{{!-- <h2>Libros disponibles</h2>
{{#each Books}}

<div>
    <h4>Author name: {{this.author}}</h4>
    <p> Book's name: {{this.name}} <br>
    </p>
    <a href="{{url}}">Descargar</a>
    <p>--------------------------------------</p>

</div>

{{/each}} --}}
<div class="container-wrapV3">
    {{#each Books}}
    <div class="card" style="width: 18rem;">
        <img class="imgWH" src="{{imgUrl}}" />
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
            <a href="{{url}}" target="_blank" class="btn btn-primary">Descargar</a>
            <form action="/add-favorite" method="POST">
                <input type="hidden" name="name" value={{name}}>
                <input type="hidden" name="author" value={{author}}>
                <input type="hidden" name="idiom" value={{idiom}}>
                <input type="hidden" name="url" value={{url}}>
                <input type="hidden" name="imgUrl" value={{imgUrl}}>
                <input type="hidden" name="description" value={{description}}>
              <input type="hidden" name="_id" value={{id}}> 
                <button type="submit" class="btn btn-primary">Agregar Favorito</button>
            </form>
        </div>
    </div>

    {{/each}}
</div>